@import './base.css';

#app {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

canvas {
  display: block;
  border: 1px solid #333;
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

main {
  width: 100%;
}

.logo {
  display: block;
  margin: 0 auto 1rem;
}

@media (min-width: 674px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-items: flex-end;
    padding: 0 1rem;
  }

  .main {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  header {
    display: flex;
    flex-flow: column wrap;
    place-items: center;
    /* padding-right: calc(var(--section-gap) / 4); */
    position: sticky;
    top: 0;
  }

  .logo {
    margin: 0 1rem 0 0;
  }
}
